<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card brown darken-1">
        <div class="card-image">
          <img src="../assets/Mercadito.jpg" width="5%" height="10%">
          <a href="../assets/mercadito_productores_v1.apk" class="btn-floating halfway-fab waves-effect waves-light  green lighten-1">
            <i class="material-icons" style="font-size: 30px;">download</i>
          </a>
        </div>
        <span class="card-title " style="color:#e8f5e9  ; font-weight: 200; font-size: 2.3rem;">Mercadito productores</span>
        <div class="card-content white-text">
          <p style="font-size: 1.3rem;">Descarga la aplicación, entra con tu cuenta y comienza a publicar productos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
