<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card white darken-1">
        <div class="card-image">
          <img src="../assets/Logo PNG.ico" width="5%" height="10%">
          <a href="../assets/mercadito_productores.apk" class="btn-floating halfway-fab waves-effect waves-light  green darken-1">
            <i class="material-icons" style="font-size: 30px;">download</i>
          </a>
        </div>
        <br>
        <span class="card-title " style="color:#6A4023  ; font-weight: 200; font-size: 2.3rem;">Mercadito productores</span>
        <div class="card-content  green lighten-1">
          <p style="font-size: 1.3rem; font-weight: 300;">Descarga la aplicación, entra con tu cuenta y comienza a publicar productos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
